header{
    padding: 3px;
    background-color: hotpink;
    color: black;
    width: 1505px;
    margin-top: -10px;
    margin-left: -7px;
    margin-right: -20px;
    position: sticky;
    top: 0;
    border: solid 2px black;
}
body{
    background-color: rgb(255, 255, 255);
    max-width: 1645px;
}


header ul{
    display: flex;
    margin-left: -110px;
    list-style-type: none;
    background-color: hotpink;
}
header ul button{
    left: 100px;
    list-style-type: none;
    font-size: larger;
    background-color: hotpink;
    color: white;
    width: 100px;
    padding: 10px;
    border: solid 2px hotpink;
}
header ul li .cari{
    width: 300px;
    margin-left: 500px;
    color: black;
}

header ul li .cari,.button_cari{
    padding: 8px;
    background-color: rgb(235, 230, 230);
    color: black;
    
}
header ul li .button_cari{
    background-color: rgb(230, 225, 218);
    
}

header ul li .cari:hover{
    background-color: rgb(195, 189, 189);
}
header ul li{
    content: "";
    position: relative;
    left: 70px;

}
header ul li :hover{
    background-color:black;
    
    cursor: pointer;
    border-radius: 10px;
}
aside{
    margin-top: 5px;
    width: 25%;
    background-color: rgba(255, 254, 254, 0.596);
    margin-left: 1132px;
    height: 500px;
    border: solid hotpink 2px;
    border-radius: 10px;


    
}
aside h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke:  black  0.5px;
    margin-top: -1px;
    padding: 4px ;
    border-radius: 10px;
    background-color: hotpink;
    color: rgb(252, 252, 252)
    
}
aside h4{
    
    padding: 15px ;
    margin-top: -20px;
    width: 85%;
    margin-left:6%;
    height: 48px;

}
@media screen and(min-width : 1024px) and (max-width :1645px) {
    
}

aside img{
    width: 60px;
    height: 80px;
    margin-left: 4px;

}
aside h4{
    padding-left: 60px;
    margin-top: -80px;
}

aside h5{
    margin-left: 85px;
    margin-top: -65px;
    padding: 2px;
    color: dimgrey;
}
.container{
    margin-top: -450px;
   
    color: black;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container .card{
    width: 200px;
    height: 300px;
    border: solid black 2px;
    background: rgb(14,1,1);
    background: rgb(60,57,57);
    background: linear-gradient(0deg,rgb(237, 234, 234) 51%, rgba(28, 27, 27, 0.992) 68%);;
    border-radius: 15px 15px 0px 0px;
    
   
}    
.container img{
    
    width: 130px;
    height: 170px;
    margin-left: 30px;
    margin-bottom: 2px;
    margin-top: -50px;
    border-radius: 28px;
} 
.container h4{
    font-size: 15px;
}
.container .card2{
    margin-left: 225px;
    margin-top: -326px;

    width: 200px;
    height: 300px;
    border: solid black 2px;
    background: rgb(14,1,1);
    background: rgb(60,57,57);
    background: linear-gradient(0deg,rgb(237, 234, 234) 51%, rgba(28, 27, 27, 0.992) 68%);
    border-radius: 15px 15px 0px 0px;
}

.container .card3{
    margin-left:455px;
    margin-top: -304px;

    width: 200px;
    height: 300px;
    border: solid black 2px;
    background: rgb(14,1,1);
    background: rgb(60,57,57);
    background: linear-gradient(0deg,rgb(237, 234, 234) 51%, rgba(28, 27, 27, 0.992) 68%);
    border-radius: 15px 15px 0px 0px;
}
.container .card4{
    margin-left: 685px;
    margin-top: -304px;

    width: 200px;
    height: 300px;
    border: solid black 2px;
    background: rgb(14,1,1);
    background: rgb(60,57,57);
    background: linear-gradient(0deg,rgb(237, 234, 234) 51%, rgba(28, 27, 27, 0.992) 68%);
    border-radius: 15px 15px 0px 0px;
}
.container  h6{
    margin-top: -18px;
    background-color: hotpink;
    font-size: 11.5px;
    height: 94px;
    color: white;
    -webkit-text-stroke:  black  0.25px;
    
}
.container .card1 h5{
    margin-top: -14px;
    
    
}
.container .card4 h5{
    margin-top: -14px;
    
    
}
.container .card5{
    margin-left: 915px;
    margin-top: -304px;

    width: 200px;
    height: 300px;
    border: solid black 2px;
    background: rgb(14,1,1);
    background: rgb(60,57,57);
    background: linear-gradient(0deg,rgb(237, 234, 234) 51%, rgba(28, 27, 27, 0.992) 68%);
    border-radius: 15px 15px 0px 0px;
}

.bagian2 .card1{
    width: 200px;
    height: 300px;
    border: solid black 2px;
    background: rgb(14,1,1);
    background: rgb(60,57,57);
    background: linear-gradient(0deg,rgb(237, 234, 234) 51%, rgba(28, 27, 27, 0.992) 68%);;
    border-radius: 15px 15px 0px 0px;
    margin-top: 100px;

}

.bagian2 .card2{
    width: 200px;
    height: 300px;
    border: solid black 2px;
    background: rgb(14,1,1);
    background: rgb(60,57,57);
    background: linear-gradient(0deg,rgb(237, 234, 234) 51%, rgba(28, 27, 27, 0.992) 68%);;
    border-radius: 15px 15px 0px 0px;
    margin-left: 225px;
    margin-top: -302px;

}
.bagian2  h5{
    margin-top: -15px;
}
.bagian2 .card5{
    width: 200px;
    height: 300px;
    border: solid black 2px;
    background: rgb(14,1,1);
    background: rgb(60,57,57);
    background: linear-gradient(0deg,rgb(237, 234, 234) 51%, rgba(28, 27, 27, 0.992) 68%);;
    border-radius: 15px 15px 0px 0px;
    margin-left: 915px;
    margin-top: -302px;

}
footer {
    margin-left: 1150px;
    margin-top: 160px;
    width: 25%;
    background-color: rgba(255, 254, 254, 0.596);
    margin-left: 1132px;
    height: 245px;
    border: solid hotpink 2px;
    border-radius: 10px;
}
footer .h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke:  black  0.5px;
    margin-top: -1px;
    padding: 4px ;
    border-radius: 10px;
    background-color: hotpink;
    color: rgb(252, 252, 252)
}
footer h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke:    white 0.5px;
}
footer p{
    margin-top: -30px;
    margin-left: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke:    white 0.5px;
}
footer h3{
    font-size: 16px;
    margin-top: 120px;
    background-color:hotpink;
    
    padding: 3px;
    border-radius: 0px 0px 10px 10px;
}
.bagian2 .card1 h5{
    margin-bottom: 24px;
    margin-top: 20px;
}
.dark-mode {
    background-color: #16151d;
    color: white;
  }
  .header li .dark{
    
    background-color: rgb(24, 23, 24);
    font-size: large;
  }

